<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Countdown</title>

    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="container">
        <aside>
        <div class="menu event-list">
            <div class="event-item" onclick="test(this)">
                <div class="event-item-head">
                    <h4>Título</h4>
                    <div class="datetime">
                        <p><span class="d">17</span>/<span class="m">01</span>/<span class="y">2021</span></p>
                        <p>17:05</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut commodi sequi soluta placeat, sunt laborum neque dicta. Architecto doloribus inventore nihil deserunt voluptatum, delectus, reprehenderit fugit maxime ipsam animi explicabo.</p>
            </div>

            <span class="add-event"><img src="images/plus.svg" alt="+"></span>
        </div>
        </aside>


        <div class="bars">
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <div class="countdown-time">
            <img src="images/clock.svg" alt="Relógio">
            <strong>Faltam</strong>
            <p>Selecione um evento para inicar o contador</p>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>