<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Countdown</title>

    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="container">
        <div class="menu event-list">
            <div class="event-item">
                <div class="event-item-head">
                    <h4>Título</h4>
                    <div class="datetime">
                        <p>17/05/2020</p>
                        <p>17:05</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut commodi sequi soluta placeat, sunt laborum neque dicta. Architecto doloribus inventore nihil deserunt voluptatum, delectus, reprehenderit fugit maxime ipsam animi explicabo.</p>
            </div>

            <button class="add-event">+</button>
        </div>


        <div class="bars">
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <div class="countdown-time">
            <img src="images/clock.svg" alt="Relógio">
            <strong>Faltam</strong>
            <p>5d:2h:10min:4s</p>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>