<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Countdown</title>

    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Events Countdown</h1>
            <div class="dark-mode">
            </div>
        </header>
        <main>
            <h2>Quanto tempo falta?</h2>
            <p>Adicione eventos e descubra até mesmo os segundos</p>

            <div class="login">
                <a>Entre</a>
                <span>ou</span>
                <a>Cadastre-se</a>
            </div>
        </main>
        <footer>
            <p>Quer testar sem criar uma conta? Clique <a href="#">aqui</a></p>
        </footer>
    </div>
</body>
</html>