<!DOCTYPE html>
<html lang="pt-r">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se - Events Countdown</title>

    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/dark.css">
    <link rel="stylesheet" href="styles/cadastro.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Events Countdown</h1>
            <a id="dark-switch"><img src="images/moon.svg"></a>
        </header>

        <main>
            <form method="POST">
            <h2>Faça o Login</h2>

            <div class="input">
                <label>Email</label>
                <input type="email" name="email" class="email" id="email">
            </div>
            <div class="input">
                <label>Senha</label>
                <input type="password" name="pass" class="pass" id="pass">
            </div>

            <button><a>Entrar</a></button>
        </form>

        <p>Não tem uma conta?</p>
        <a href="cadastro">Cadastre-se</a>
        </main>
    </div>

    <script src="js/form.js"></script>
    <script src="js/night-mode.js"></script>
</body>
</html>