@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
    font-family: 'Reem Kufi', sans-serif;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100%;
    padding: 1rem .8rem 3rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    font-size: 3rem;
}

form .input {
    position: relative;
    width: 80%;
    height: 3rem;
    border-radius: 1rem;
    background: rgba(204, 204, 204, .3);

    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 100%;

    align-items: center;

    margin-bottom: 1rem;
    padding-top: 10px;
}

form .input label {
    position: absolute;
    left: 1rem;
    transition: .2s ease-in-out;

    font-size: 1.4rem;
    font-weight: 400;
}

form .input input {
    border: none;
    outline: none;
    grid-column: 2/3;
    grid-row: 1/2;
    background: none;

    font-size: large;
}

form button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70%;
    background: none;
    border: none;
}

main {
    text-align: center;
}

main p {
    font-size: 1.8rem;
    line-height: 1;
}

main a {
    background: #6159E5;
    color: #FFFFFF;
    font-size: 1.5rem;
    border: none;
    width: 70%;
    padding: .4rem 25% .3rem;
    border-radius: .2rem;

    transition: .3s;
}

main form a {
    width: 100%;
}

main a:hover {
    background: #433E99;
    cursor: pointer;
}