/* DARK MODE */
.container.dark-mode {
    background-color: #000;

    color: #F0F0F0;
}

.container main h2.dark-mode {
    color: #FFF;
}

.container main p.dark-mode, .container footer p.dark-mode {
    color: #E1E1E1;
}

input.dark {
    color: #F0F0F0;
}