/* DARK MODE */
.container.dark-mode {
  background-color: #000;
  color: #f0f0f0;
}

.container main h2.dark-mode {
  color: #fff;
}

.container main p.dark-mode,
.container footer p.dark-mode {
  color: #e1e1e1;
}

input.dark {
  color: #f0f0f0;
}
