@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
    font-family: 'Reem Kufi', sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100%;
    background: #F0F0F0 50% 15%/clamp(27rem,100%,35rem) url('../images/back.svg') no-repeat;
    padding: 1rem .8rem 3rem;
}

.container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container header h1 {
    font-size: 1.2rem;
}

.container main {
    margin-top: 20rem;
    text-align: center;
}

.container main h2 {
    color: #5047EA;
    font-size: 2.5rem;
}

.container main p, .container footer p {
    color: #525252;
    font-size: 1.2rem;
    line-height: 1;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login a {
    background: #6159E5;
    color: #FFFFFF;
    font-size: 1.5rem;
    border: none;
    width: 70%;
    padding: .4rem 0 .2rem;
    margin: .2rem 0;
    border-radius: .2rem;
}

.login span {
    font-size: 1.2rem;
}

.container footer {
    text-align: center;
}

.container footer p a {
    text-decoration: none;
    color: #6159E5;
}

.dark-mode {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #CCC;
    border-radius: 10px;

    width: 2rem;
    height: 1rem;

    position: relative;
}

.dark-mode-switch {
    position: absolute;
    transform: translateX(-50%);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: #49485a;
}

.dark-mode img {
    width: 1.2rem;
    height: 1.2rem;
}

.dark-mode img[alt='moon'] {
    opacity: 0;
}