@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
    font-family: 'Reem Kufi', sans-serif;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100%;
    background: #F0F0F0 50% 10%/clamp(27rem,100%,35rem) url('../images/back.svg') no-repeat;
    padding: 1rem .8rem 3rem;
}

.container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container header h1 {
    font-size: 1.2rem;
}

.container header a img {
    width: 30px;
    height: 30px;
}

.container main {
    margin-top: 20rem;
    text-align: center;
}

.container main h2 {
    color: #5047EA;
    font-size: 2.5rem;
}

.container main p, .container footer p {
    color: #525252;
    font-size: 1.2rem;
    line-height: 1;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login a {
    background: #6159E5;
    color: #FFFFFF;
    font-size: 1.5rem;
    border: none;
    width: 70%;
    padding: .4rem 0 .2rem;
    margin: .2rem 0;
    border-radius: .2rem;
}

.login span {
    font-size: 1.2rem;
}

.container footer {
    text-align: center;
}

.container footer p a {
    text-decoration: none;
    color: #6159E5;
}


/* DARK MODE */
.container.dark-mode {
    background-color: #000;

    color: #F0F0F0;
}

.container main h2.dark-mode {
    color: #FFF;
}

.container main p.dark-mode, .container footer p.dark-mode {
    color: #E1E1E1;
}


/* MEDIA QUERIES */
@media (min-width:1024px) {

    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 70% 10%;
        background: #F0F0F0 10% 50%/clamp(30rem,100%,35rem) url('../images/back.svg') no-repeat;
        padding: 0 5%;
    }

    .container header {
        grid-column: 1/3;
        margin-top: 2rem;
    }

    .container header h1 {
        font-size: 2rem;
    }

    .container header a img {
        width: 3rem;
        height: 3rem;
    }

    .container main {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: 1rem;
    }

    .container main h2 {
        font-size: 3.2rem;
        line-height: 1;
    }

    .container main .login {
        margin: 5rem 0;
    }

    .container main .login a {
        width: 80%;
        margin: 1rem 0;
    }

    .container main .login span {
        font-size: 1.8rem;
    }

    .container main p, .container footer p {
        font-size: 1.8rem;
        line-height: 0;
    }

    .container footer {
        grid-column: 2/3;
    }

}